@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');

/* Color Variables */
:root {
    /* White/Grey/Black Theme - Default theme */
    --primaryColor: #f6f0e8;
    --itemBackground: #c5c5c5;
    --textColor: #0a0a0a;
    --readOnlyColor: #0a0a0a;
    --tableColor: #f6f0e8;
    --headerColor: #0a0a0a;
    --tableItemBackground: #808080;
    --buttonBackground: #808080;
    --buttonText: #0a0a0a;
    --shiftColor: #0a0a0a;
    --messageTextColor: #0a0a0a;
    --focusText: #808080;
    --highlightOpacity: brightness(90%);
    --shiftIndication: #0a0a0a;
    --linkColor: #4f4f4f;
    --buttonColor: #f6f0e8;
    --darkerButtonColor: #595959;
    --lighterButtonColor: #f6f0e8;
    --bodyTextColor: #8cff8a;
}

/* Primary CSS */
body, html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body.all-loaded {
    opacity: 1;
}
body {
    background: linear-gradient(-45deg, #0a0a0a, #595959, #0a0a0a, #0a0a0a);
    background-size: 400% 400%;
    animation: gradient 17.5s ease infinite;
    height: 100vh;
  } 
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

h1, h4 {
    text-align: center;
    user-select: none;
    color: var(--headerColor);
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    margin: 6px 0px 6px 0px;
    font-weight: 200;
}
h4 {
    text-decoration: underline;
    font-size: 18px;
}
/* styling body text to make sure it wraps in box */
div#content {
    justify-content: center;
    text-align: center;
    display: flex;
}
div.inline {
    display: inline-block;
}

/* Main Div Containers */
div#outsideoption {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 480px;
    float: left;
    top: 50%;
    position: relative;
    width: 242px;
}
div#outsidegrid {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    float: left;
}
div#outsidemode {
    display: flex;
    vertical-align: middle;
    float: left;
    position: relative;
    margin-left: 20px;
    margin-top: 0px;
}

/* Board CSS */
div#grid-container, div#aboutdisplay, div#checkoverlay, div#instructionsdisplay {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    margin: 0;
    left: 0%;
    justify-content: center;
    padding: 0;
}
div.grid-item {
    font-size: 21px;
    text-align: center;
    margin: 0;
    height: 50px;
    width: 50px;
    background-color: var(--itemBackground);
    border: 3px solid var(--primaryColor);
    padding: 0;
}

/* Text in instructions and additional information boxes */
div#instructionsdisplay, div#aboutdisplay, div#menuinstructionsdisplay, div#menuaboutdisplay, div#checkoverlay {
    font-size: 14px;
    padding: 10px;
    color: var(--messageTextColor);
    height: 456px;
    left: 0%;
    margin: auto;
    border: 2px solid white;
    text-align: left;
    overflow: hidden;
    margin-bottom: 4px;
    display: none;
    width: 462px;
}
div#menuinstructionsdisplay, div#menuaboutdisplay {
    width: 403px;
    left: 0%;
    justify-content: center;
    padding: 10px;
    height: 403px;
    margin: 0;
}
div.header {
    margin: 0px;
}
ul {
    padding-left: 26px;
}
a, a:visited {
    color: var(--linkColor)
}

/* Column Borders CSS */
div#grid-container div.grid-item:nth-child(n):nth-last-child(9n){
    border-left: 5px var(--primaryColor) solid;
}
div#grid-container div.grid-item:nth-child(n):nth-last-child(9n+6){
    border-left: 4px var(--primaryColor)solid;
}
div#grid-container div.grid-item:nth-child(n):nth-last-child(9n+3){
    border-left: 4px var(--primaryColor) solid;
}
div#grid-container div.grid-item:nth-child(n):nth-last-child(9n+1){
    border-right: 5px var(--primaryColor) solid;
}

/* Row Borders CSS */
div#grid-container div.grid-item:nth-child(n):nth-last-child(n+73){
    border-top: 5px var(--primaryColor) solid;
}
div#grid-container div.grid-item:nth-child(n+55):nth-last-child(n+19){
    border-top: 4px var(--primaryColor) solid;
}
div#grid-container div.grid-item:nth-child(n+73):nth-last-child(n){
    border-bottom: 5px var(--primaryColor) solid;
}
div#grid-container div.grid-item:nth-child(n+28):nth-last-child(n+46){
    border-top: 4px var(--primaryColor) solid;
}

/* CSS Style for User Inputs */
input {
    cursor: default;
}
input.txt-input {
    font-size: 25px;
    color: transparent;
    text-shadow: 0 0 0 var(--textColor);
}
input.readonly {
    font-size: 25px;
    color: transparent;
    text-shadow: 0 0 0 var(--readOnlyColor);
}
input.pm-input {
    font-size: 10px;
    color: transparent;
    text-shadow: 0 0 0 var(--textColor);
}
input.txt-input, input.pm-input, input.readonly {
    height: 50px;
    width: 50px; 
    padding: 0;
    border: 0;
    background-color: var(--itemBackground);
    outline: none;
    font-weight: bold;
    text-align: center;
}
input.errors {
    background-color: rgba(255,0,0,0.4);
    height: 50px;
    width: 50px; 
    padding: 0;
    border: 0;
    outline: none;
    font-weight: bold;
    text-align: center;
}
input:focus {
    outline: 3px var(--textColor) solid;
}
input::selection {
    background: transparent;
}

/* Button Containers CSS */
div.allbuttonscontainer {
    justify-content: center;
    text-align: center;
}
div.buttoncontainers {
    display: inline-block;
}

/* Option/Mode Divs and Buttons CSS */
button.buttons, button.menubutton, button.playbutton, button.diffbutton, div.optiondivs, div.modedivs {
    background-color: var(--buttonBackground);
    color: var(--buttonText);
    border: none;
    border-radius: 25px;
    font-size: 18px;
    overflow: hidden;
    margin: 3px;
    width: 200px;
    height: 45px;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}


div.optiondivs, div.modedivs, div#shiftIndication, div#homesquare {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 164px;
    height: 49px;
    margin: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    user-select: none;
    border: 3px solid var(--primaryColor);
    overflow: hidden;
}

button.buttons:focus, button.menubutton:focus, div.optiondivs:focus, div.modedivs:focus, button.playbutton:focus, button.difficultybutton:focus {
    border: 3px solid var(--primaryColor);
    outline: black;
}

div.modefocus, div.focusdivs {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: var(--primaryColor);
    color: var(--focusText);
    border: 3px solid var(--focusText);
    border-radius: 25px;
    font-size: 18px;
    width: 164px;
    height: 49px;
    margin: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    outline: none;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}
div.modefocus {
    width: 200px;
    height: 45px;
    margin-top: 1px;
    margin-bottom: 1px;
}
div.modedivs {
    width: 200px;
    height: 45px;
    margin-top: 1px;
    margin-bottom: 1px;
}
#instructions {
    margin-top: 0px;
}

/* Color Table CSS */
table {
    margin: auto;
    text-align: center;
    padding: 5px;
    background-color: var(--tableColor);
    /* margin-bottom: 20px; */
    border-radius: 15px;
    height: 175px;
}
button.colors {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid var(--primaryColor);
    box-shadow: 1px 2px var(--primaryColor);
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    color: var(--readOnlyColor);
    background-color: var(--tableItemBackground);
    cursor: pointer;
    outline: none;
}
div#tablecontainer {
    margin: 5px;
}

/* Themes and Theme Button CSS */
div#themebutton {
    height: 100%;
    width: 100%;
    display: flex;
    opacity: 0.7;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    transition: 0.3s;
    z-index: 4;
}
.themebutton:hover {
    opacity: 1
}
div#themescontainer {
    display: flex;
}
div.themes {
    flex: 1; 
    width: 41;
    height: 49px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    user-select: none;
}

div#cybergreen {
    background: #04f700;
    background: linear-gradient(180deg, #04f700 0%, #027600 50%, #012b00 100%);
}
div#white {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(135, 135, 135) 50%, rgb(53, 53, 53) 100%);
}
div#light {
    background: rgb(238, 145, 255);
    background: linear-gradient(180deg, rgb(238, 145, 255) 0%, rgb(247, 203, 255) 50%, rgb(236, 245, 250) 100%);
}
div#retro {
    background: rgb(17, 169, 45);
    background: linear-gradient(180deg, rgba(27,38,44,1) 0%, rgba(34,104,151,1) 50%, rgba(187,225,250,1) 100%);
}

/* Menu CSS */
button.menubutton {
    width: 300px;
    margin: 10px;
    opacity: 0.6;
    transition: 0.3s;
}
.menubutton:hover {
    opacity: 1;
}

button.playbutton {
    opacity: 0.6;
    transition: 0.3s;
    width: 175px;
    margin: 10px;
}
.playbutton:hover {
    opacity: 1;
}

/* Glowing Button Code */
.glowButton{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
 }
.glowButton{
    position: relative;
    background: white;
    color: white;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 2.2em;
 }
.glowButton:hover {
    background-color: var(--buttonColor);
    color: var(--buttonColor);
    box-shadow: 0 0 35px var(--buttonColor);
    letter-spacing: 0.25em;
 }
.glowButton:before {
    content: '';
    position:absolute;
    inset:2px;
    background:#27282c;
 }
.glowButton span{
    position:relative;
    z-index:1;
 }
.glowButton i {
    position: absolute;
    inset: 0;
    display: block;
 }
 
.glowButton i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    height: 4px;
    width: 35px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
 }
 
.glowButton i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    height: 4px;
    width: 35px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
 }
 
.glowButton:hover i::before {
    width: 30px;
    left: 20%;
 }
 
.glowButton:hover i::after {
    width: 30px;
    left: 80%;
 }

button.difficultybutton {
    opacity: 0.6;
    transition: 0.3s;
    width: 88px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
}
.difficultybutton:hover {
    opacity: 1;
}

div#playcontainer {
    margin-top: 0px;
}
div#playimage {
    display: block;
    background-image: url(/static/css/images/tan_play.png);
    width: 425px;
    height: 425px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
}
div#solveimage {
    display: block;
    background-image: url(/static/css/images/tan_solve.png);
    width: 425px;
    height: 425px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
}
div#outsideplay {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    float: left;
    max-width: 500px;
    max-height: 550px;
}
div#outsidesolve {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    float: left;
    max-width: 500px;
    max-height: 550px;
}
div#outsidemenuoption {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    float: left;
    padding: 20px;
    height: 480px;
}

/* Icons CSS */
div#shiftIndication {
    display: inline-block;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 15px;
    height: 15px;
    opacity: 1;
    border: 2px solid var(--shiftIndication);
    border-radius: 50%;
    margin-bottom: 4px;
}
div#homesquare {
    display: inline-block;
    background-image: url(/static/css/images/homeTan.png);
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
    border: none;
}
div#optionicons {
    justify-content: center;
    margin: 0;
    padding: 0;
}
div#timer {
    color: var(--shiftIndication);
    font-family: 'Source Code Pro', monospace;
    font-size: 23px;
    margin-top: 6px;
    font-weight: 900;
}

/* Check Overlay */
div#checkoverlay {
    font-size: 35px;
    text-align: center;
}
div#close {
    margin: auto;
    margin-top: 8%;
}
div#checkcenter {
    display: inline-block;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-top: 30%;
    justify-content: center;
}

/* Underline Animation Button */
.underlineButton{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: #a0a0a0;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
.underlineButton:after{
    content: "";
    position: absolute;
    background-color: var(--buttonColor);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.underlineButton:hover{
    color: #ffffff;
}
.underlineButton:hover:after{
    width: 100%;
}
 